name: go test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Go environment
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Run tests with coverage
      run: go test -v -race -covermode atomic -coverprofile=covprofile -coverpkg ./... ./...

    - name: Install goveralls
      run: go install github.com/mattn/goveralls@latest

    - name: Send coverage report
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -coverprofile=covprofile -service=github

  code-security-analysis:
    runs-on: ubuntu-latest

    steps: 
    - uses: actions/checkout@v4
    - name: Install Fossa
      run: |
        curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash

    - name: Run Code Security Analysis
      env:
        FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }} 
      run: fossa analyze
